<%= form_for @property do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Property" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Rent" %>
    <%= form.number_field :rent %> <%= "Yen" %>
  </div>

  <div class="field">
    <%= form.label "Building age" %>
    <%= form.number_field :age %> <%= "year/years old" %>
  </div>

  <div class="field">
    <%= form.label "Address" %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label "Remarks" %>
    <%= form.text_area :remark %>
  </div>

  <hr>

  <% x = 1 %>
    <%= form.fields_for :stations do |df| %>
      <h2>Nearest station<%= x %></h2>
      <div class="field">
      <%= df.label "Name of railway" %>
      <%= df.text_field :route_name %>
      </div>
      <div class="field">
      <%= df.label "Station name" %>
      <%= df.text_field :station_name %>
      </div>
      <div class="field">
      <%= df.label "How many minutes walk" %>
      <%= df.number_field :time %> <%= "min/mins" %>
      </div>
    <% x += 1 %>
    <% end %>

<p>
  <div class="actions">
    <%= form.submit %>
  </div>
</p>
<% end %>
